/*
    ./frontend/portal/css/authPage.css
    - La mise en page de Connexion, Inscription
*/

.auth-container {
  display: grid;
  grid-template-columns: 3fr;
  gap: 1rem;
  align-items: stretch;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.auth-info-col {
  border: solid 3px;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: left;
}

.auth-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.auth-info-list {
  border: solid 3px;
  border-color: red;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  color: #4b5563;
  line-height: 1.8;
  text-align: left;
}

@media (min-width: 820px) {
  .auth-container {
    border: solid 3px;
    grid-template-columns: 1.2fr 1fr;
    gap: 1rem;
    max-width: 100%;
  }
  .auth-info-list {
    padding-left: 10px;
    text-align: left;
  }
}
